<div class="page-container">
    <form class="layui-form" onsubmit="return false">
        <div style="overflow-y: overlay;height: 360px;" class="layui-form-item">
            <input id="role_id" type="hidden"/>
            <div id="menutree"></div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button id="rolegrant" style="width: 100px;" lay-submit lay-filter="rolegrant"
                            class="layui-btn layui-btn-normal"><i
                            class="icon Hui-iconfont">&#xe6e1;</i> 提交
                    </button>
                    <button style="width: 100px;" onclick="colseAdd()"
                            class="layui-btn layui-btn-primary"><i
                            class="icon Hui-iconfont">&#xe6dd;</i> 取消
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var form = layui.form;
    form.render();

    form.on('submit(rolegrant)', function (data) {
        debugger;
        var checkData = menu.getChecked('menutree');
        var list = getselect(checkData);
        if (list.length != 0) {
            list.splice(0, 1);
        }


        $("#rolegrant").attr("disabled", true);
        $.ajax({
            url: "/role/grant/" + $("#role_id").val(),
            data: {
                selectids: list
            },
            type: 'POST',
            success:

                function (res) {
                    if (res.status == 0) {
                        layer.alert(res.msg, {icon: 1}, function (index) {
                            layer.close(index);
                            setTimeout(function () {
                                colseAdd();
                            }, 500)
                        });

                    } else {
                        $("#rolegrant").removeAttr("disabled");
                        layer.alert(res.msg, {icon: 2});
                    }
                }

            ,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $("#rolegrant").removeAttr("disabled");
                errorMsg(XMLHttpRequest, textStatus, errorThrown);
            }
        })
        ;
        return false;
    })

    function getselect(node) {
        var selectIds = new Array();
        if (node != undefined && node.length != 0) {
            for (var i = 0; i < node.length; i++) {
                selectIds.push(node[i].id);
                selectIds = selectIds.concat(getselect(node[i].children))
            }
        }
        return selectIds;
    }
</script>
</body>
</body>
</html>