<!DOCTYPE HTML>
<html>
<head>
    <% include("/meta.html"){} %>
    <title>角色管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>
    首页<span class="c-gray en">/</span>角色管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form class="layui-form" lay-filter="roleselectform" onsubmit="return false;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">名称:</label>
                <div class="layui-input-block">
                    <input id="name" name="name" style="width: 300px" type="text" autocomplete="off" placeholder="角色名称"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态:</label>
                <div class="layui-input-block">
                    <input type="radio" name="available" value="" title="全部" checked/>
                    <input type="radio" name="available" value="0" title="启用"/>
                    <input type="radio" name="available" value="1" title="禁用"/>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button id="submit" lay-submit style="width: 120px;" type="button"
                            class="layui-btn layui-btn-normal"><i
                            class="icon Hui-iconfont">&#xe665;</i> 查询
                    </button>
                </div>
            </div>
        </div>

    </form>
    <div style="margin-top: 0px" class="mt-20">
        <table id="role" lay-filter="roletable"></table>
    </div>
</div>
<script type="text/html" id="tablebar">
    <% if(isNotEmpty(tabletoolbars)){
    for(p in tabletoolbars ) {%>
    <button style="width:80px" type="button " lay-event="${p.id}" class="layui-btn layui-btn-sm ${p.backcolor}">
        <i class="icon Hui-iconfont">${p.icon!''}</i> ${p.operatename}
    </button>
    <% }
    } %>
</script>
<script type="text/html" id="rowtoolbar">
    <% if(isNotEmpty(rowtoolbars)){
    for(p in rowtoolbars ) {
    if(p.id==45){ %>
    <button style="margin-left:-2px;" type="button " lay-event="${p.id}" class="layui-btn layui-btn-xs ${p.backcolor}">
        {{# if(d.available==0){ }}
        <i class="icon Hui-iconfont">&#xe631;</i>禁用
        {{# }else{ }}
        <i class="icon Hui-iconfont">&#xe615;</i>启用
        {{# } }}
    </button>
    <% }else{ %>
    <button style="margin-left:-2px;" type="button " lay-event="${p.id}" class="layui-btn layui-btn-xs ${p.backcolor}">
        <i class="icon Hui-iconfont">${p.icon!''}</i> ${p.operatename}
    </button>
    <% }
    } elsefor{
    print('无操作权限!');
    }
    }else{
    print('无操作权限!');
    }%>
</script>
<% include("/footer.html"){} %>
<script type="text/javascript">
    var form = layui.form;
    var table = layui.table;
    var layer = layui.layer;
    var tree = layui.tree;

    function tablerender() {
        table.render({
            elem: '#role',
            url: "/role/list",
            toolbar: '#tablebar',
            defaultToolbar: false,
            even: false,
            where: form.val("roleselectform"),
            page: true,
            cols:
                [[
                    {field: 'name', title: '角色名称'},
                    {
                        field: 'available', title: '启用状态', align: 'center', templet: function (d) {
                            if (d.available == 0) {
                                return "启用";
                            } else {
                                return "禁用";
                            }
                        }
                    },
                    {field: 'desc', title: '描述'},
                    {
                        title: '操作', align: 'center', toolbar: '#rowtoolbar', width: 240
                    }
                ]]
        })
        ;
        $("button[lay-event='48']").click(function () {
            addRole("");
        })
    }

    tablerender();
    $("#submit").click(function () {
        reload();
    });

    function reload() {
        table.reload("role", {
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: form.val("roleselectform")
        });
        $("button[lay-event='48']").click(function () {
            addRole("");
        })
    }

    //实践监听
    table.on('tool(roletable)', function (obj) {
        var layEvent = obj.event;
        var data = obj.data;
        if (layEvent == 43) {
            addRole(data.id)
        } else if (layEvent == 45) {
            modifyStatus(data)
        } else if (layEvent == 44) {
            grant(data);
        } else if (layEvent == 46) {
            deleteRole(data);
        }
    })
    var menu = undefined;

    function grant(data) {
        $.ajax({
            url: "/role/page/grant",
            type: 'GET',
            success: function (res) {
                layer.open({
                    title: "角色授权",
                    btnAlign: 'l',
                    type: 1,
                    skin: 'layui-layer-lan',
                    content: res,
                    size:"sm",
                    scrollbar: false,
                    area: ['600px', '510px'],
                    success: function (layero, index) {
                        add_index = index;
                        $("#role_id").val(data.id);
                        $.ajax({
                            url: "/role/select/menutree/" + data.id,
                            type: 'GET',
                            success: function (ress) {
                                menu = tree.render({
                                    elem: '#menutree',
                                    showCheckbox: true,
                                    data: ress
                                })
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                errorMsg(XMLHttpRequest, textStatus, errorThrown);
                            }
                        });
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorMsg(XMLHttpRequest, textStatus, errorThrown);
            }
        });
    }

    function deleteRole(data) {
        layer.confirm("确认删除角色?", {icon: 3}, function (index) {
            layer.close(index);
            $.ajax({
                url: "/role/delete/" + data.id,
                type: 'POST',
                success: function (res) {
                    if (res.status == 0) {
                        reload();
                        layer.alert(res.msg, {icon: 1});
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorMsg(XMLHttpRequest, textStatus, errorThrown);
                }
            });
        })
    }


    //状态
    function modifyStatus(data) {
        layer.confirm((data.available == 0) ? "确认关闭角色?" : "确认开启角色?", {icon: 3}, function (index) {
            layer.close(index);
            $.ajax({
                url: "/role/available",
                data: {
                    id: data.id,
                    available: data.available == 0 ? 1 : 0
                },
                type: 'POST',
                success: function (res) {
                    if (res.status == 0) {
                        reload();
                        layer.alert(res.msg, {icon: 1});
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    errorMsg(XMLHttpRequest, textStatus, errorThrown);
                }
            });
        })
    }

    //用户添加
    var add_index = undefined;

    function addRole(id) {
        var title = "";
        if (id === "") {
            title = "角色添加";
        } else {
            title = "角色修改";
        }
        $.ajax({
            url: "/role/page/add/" + id,
            type: 'GET',
            success: function (res) {
                layer.open({
                    title: title,
                    btnAlign: 'l',
                    type: 1,
                    skin: 'layui-layer-lan',
                    content: res,
                    scrollbar: false,
                    area: ['550px', '365px'],
                    success: function (layero, index) {
                        add_index = index;
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                errorMsg(XMLHttpRequest, textStatus, errorThrown);
            }
        });
    }

    function colseAdd() {
        layer.close(add_index);
        add_index = undefined;
    }

</script>
</body>
</html>